<form name="CreditCardsSearchForm" class="form-inline" ng-submit="creditCards.search()">
    <fieldset class="form-group">
        <input type="search" placeholder="Search creditCards..." ng-model="creditCards.parameters.search" class="form-control">
    </fieldset>
    <fieldset class="form-group" ng-class="{'text-center':application.$ocMedia('max-width:767px')}">
		<span ng-class="{'btn-group':creditCards.searchResults}">
			<button type="submit" class="btn btn-primary">Search</button>
			<button ng-if="creditCards.searchResults" ng-click="creditCards.clearSearch()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
		</span>
		<span ng-class="{'btn-group':creditCards.filtersApplied}" ng-if="application.$ocMedia('max-width:767px')">
			<button type="button" class="btn btn-default" ng-click="creditCards.showFilters = !creditCards.showFilters"><i class="fa fa-filter"></i> Filters</button>
			<button ng-if="creditCards.filtersApplied" ng-click="creditCards.clearFilters()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
		</span>
    </fieldset>
</form>
<div class="row" style="margin-top:15px;" uib-collapse="!creditCards.showFilters">
    <div class="col-md-6 col-lg-4">
        <div class="form-group" ng-if="application.$ocMedia('max-width:767px')">
            <label>Sorty By:</label>
            <div ng-class="{'input-group':creditCards.sortSelection}">
                <select placeholder="Sort" class="form-control" ng-model="creditCards.sortSelection" ng-change="creditCards.updateSort()">
                    <option value="ID">ID</option>
                    <option value="CardholderName">Card Holder Name</option>
                    <option value="CardType">Card Type</option>
                    <option value="ExpirationDate">Expiration Date</option>
                </select>
                <div ng-if="creditCards.sortSelection" class="input-group-btn">
                    <button class="btn btn-default" ng-click="creditCards.reverseSort()">
                        <i class="fa fa-sort"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
