<div class="page-header">
	<div class="btn-toolbar pull-right">
		<button type="button" class="btn btn-default" ui-sref="^"><i class="fa fa-arrow-left"></i> Back</button>
		<button class="btn btn-success" ui-sref="^.createAssignment({productid:productAssignments.productID})"><i class="fa fa-plus-circle"></i> New Assignment</button>
	</div>
	<h3>Assignments for {{productAssignments.productName}}</h3>
</div>
<div class="well well-lg text-center" ng-if="!productAssignments.list.length">
	<b>This product does not have any assignments for the active Buyer company.</b>
</div>
<div ui-view="list" ng-if="productAssignments.list.length"></div>
