<form name="PriceSchedulesSearchForm" class="form-inline" ng-submit="priceSchedules.search()">
	<fieldset class="form-group">
		<input type="search" placeholder="Search price schedules..." ng-model="priceSchedules.parameters.search" class="form-control">
	</fieldset>
	<fieldset class="form-group" ng-class="{'text-center':application.$ocMedia('max-width:767px')}">
		<span ng-class="{'btn-group':priceSchedules.searchResults}">
			<button type="submit" class="btn btn-primary">Search</button>
			<button ng-if="priceSchedules.searchResults" ng-click="priceSchedules.clearSearch()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
		</span>
		<span ng-class="{'btn-group':priceSchedules.filtersApplied}">
			<button type="button" class="btn btn-default" ng-click="priceSchedules.showFilters = !priceSchedules.showFilters"><i class="fa fa-filter"></i> Filters</button>
			<button ng-if="priceSchedules.filtersApplied" ng-click="priceSchedules.clearFilters()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
		</span>
	</fieldset>
</form>
<div class="row" style="margin-top:15px;" uib-collapse="!priceSchedules.showFilters">
	<div class="col-md-6 col-lg-4">
		<div class="form-group" ng-if="application.$ocMedia('max-width:767px')">
			<label>Sorty By:</label>
			<div ng-class="{'input-group':priceSchedules.sortSelection}">
				<select placeholder="Sort" class="form-control" ng-model="priceSchedules.sortSelection" ng-change="priceSchedules.updateSort()">
					<option value="">None</option>
					<option value="ID">ID</option>
					<option value="Status">Name</option>
					<option value="DateCreated">Type</option>
				</select>
				<div ng-if="priceSchedules.sortSelection" class="input-group-btn">
					<button class="btn btn-default" ng-click="priceSchedules.reverseSort()">
						<i class="fa fa-sort"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label>Order Type</label>
					<select ng-model="priceSchedules.parameters.filters.orderType" ng-change="priceSchedules.filter(true)" class="form-control">
						<option value="">All</option>
						<option value="Standard">Standard</option>
						<option value="Replenishment">Replenishment</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>
