<form name="UserGroupsSearchForm" class="form-inline" ng-submit="userGroups.search()">
	<fieldset class="form-group">
		<input type="search" placeholder="Search User Groups..." ng-model="userGroups.parameters.search"
			   class="form-control">
	</fieldset>
	<fieldset class="form-group" ng-class="{'text-center':application.$ocMedia('max-width:767px')}">
		<span ng-class="{'btn-group':userGroups.searchResults}">
			<button type="submit" class="btn btn-primary">Search</button>
			<button ng-if="userGroups.searchResults" ng-click="userGroups.clearSearch()" type="button"
					class="btn btn-default"><i class="fa fa-times"></i></button>
		</span>
		<span ng-class="{'btn-group':userGroups.filtersApplied}" ng-if="application.$ocMedia('max-width:767px')">
			<button type="button" class="btn btn-default"
					ng-click="userGroups.showFilters = !userGroups.showFilters"><i class="fa fa-filter"></i> Filters
			</button>
			<button ng-if="userGroups.filtersApplied" ng-click="userGroups.clearFilters()" type="button"
					class="btn btn-default"><i class="fa fa-times"></i></button>
		</span>
	</fieldset>
</form>
<div class="row" style="margin-top:15px;" uib-collapse="!userGroups.showFilters">
	<div class="col-md-6 col-lg-4">
		<div class="form-group" ng-if="application.$ocMedia('max-width:767px')">
			<label>Sorty By:</label>
			<div ng-class="{'input-group':userGroups.sortSelection}">
				<select placeholder="Sort" class="form-control" ng-model="userGroups.sortSelection"
						ng-change="userGroups.updateSort()">
					<option value="ID">ID</option>
					<option value="Name">Name</option>
					<option value="FirstName">Description</option>
				</select>
				<div ng-if="userGroups.sortSelection" class="input-group-btn">
					<button class="btn btn-default" ng-click="userGroups.reverseSort()">
						<i class="fa fa-sort"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
