<form name="CostCentersSearchForm" class="form-inline" ng-submit="costCenters.search()">
    <fieldset class="form-group">
        <input type="search" placeholder="Search Cost Centers..." ng-model="costCenters.parameters.search" class="form-control">
    </fieldset>
    <fieldset class="form-group" ng-class="{'text-center':application.$ocMedia('max-width:767px')}">
		<span ng-class="{'btn-group':costCenters.searchResults}">
			<button type="submit" class="btn btn-primary">Search</button>
			<button ng-if="costCenters.searchResults" ng-click="costCenters.clearSearch()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
		</span>
		<span ng-class="{'btn-group':costCenters.filtersApplied}" ng-show="application.$ocMedia('max-width:767px')">
			<button type="button" class="btn btn-default" ng-click="costCenters.showFilters = !costCenters.showFilters"><i class="fa fa-filter"></i> Filters</button>
			<button ng-if="costCenters.filtersApplied" ng-click="costCenters.clearFilters()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
		</span>
    </fieldset>
</form>
<div class="row" style="margin-top:15px;" uib-collapse="!costCenters.showFilters">
    <div class="col-md-6 col-lg-4">
        <div class="form-group" ng-if="application.$ocMedia('max-width:767px')">
            <label>Sorty By:</label>
            <div ng-class="{'input-group':costCenters.sortSelection}">
                <select placeholder="Sort" class="form-control" ng-model="costCenters.sortSelection" ng-change="costCenters.updateSort()">
                    <option value="">None</option>
                    <option value="ID">ID</option>
                    <option value="Name">Name</option>
                    <option value="Description">Description</option>
                </select>
                <div ng-if="costCenters.sortSelection" class="input-group-btn">
                    <button class="btn btn-default" ng-click="costCenters.reverseSort()">
                        <i class="fa fa-sort"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
